body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px;
}

.title{
    width: 100%;
    text-align: center;
}

.title h1{
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
}

.line{
    width: 95%;
    height: 1px;
    background-color: #807f7f;
}

.label{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.table-label{
    border-collapse: collapse;
    width: 300px;
}

.table-label caption{
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.table-label  td{
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #000000;
}

.table-label th{
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #000000;
}

.head-table-label{
    background-color: #000000;
    color: #ffffff;
}

.contaiter-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
    border: 1px solid #807f7f;
}

.shopping-list{
    
}

.title-shopping-list{
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

.line-two{
    width: 1px;
    height: 500px;
    margin-top: 17px;
    background-color: #807f7f;
}

.todo-list{
    
}

.title-todo-list{
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

.activity-table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.table-activity{
    border-collapse: collapse;
    width: 1000px;
    height: 300px;
}

.table-activity caption{
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.table-activity td:hover{
    background-color: coral;
}

.table-activity th, .table-activity td{
    border-bottom: 1px solid #ddd;
    text-align: center;
    height: 50px;
}

.table-activity th{
    color: rgb(12, 16, 24);
}

.table-activity tfoot{
    background-color: #babdbd;
}

.father-color{
    color: rgb(7, 87, 7);
}

.mother-color{
    color: rgb(0, 44, 110);
}

.son-color{
    color: rgb(141, 16, 141);
}

.daughter-color{
    color: rgb(194, 65, 86);
}

.not-mother{
    color: rgb(82, 3, 7);
}